// Internet Explorer
html body .app.flex-row.align-items-center {
  height: 100vh;
}

// Internet Explorer 11 floating footer temp fix, react only
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #root {
    display: flex;
    flex-direction: column;
  }
}

* {
  outline: none !important;
  word-break: normal !important;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}
